PRIVATE_KEY=private.key
CERTIFICATE=certificate.cert
CA_BUNDLE=
DATASRC_IP=localhost
DEFAULT_AREA_ID=1

DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASS=example
DB_DATABASE=exampe
DB_PORT=5432

TZ=Asia/Taipei

RSSI_THRESHOLD=-100

OBJECT_FOUND_TIME_INTERVAL_IN_SEC=30

PANIC_TIME_INTERVAL_IN_SEC=300

IS_LBEACON_MARK=0

IS_TRACKING_PATH_ON=1

OBJECT_TRACKING_INTERVAL_TIME_IN_MILLI_SEC=1000

GET_LBEACON_DATA_INTERVAL_TIME_IN_MILLI_SEC=3600000

GET_GATEWAY_DATA_INTERVAL_TIME_IN_MILLI_SEC=3600000

BATTERY_VOLTAGE_INDICATOR=28

MARKER_SIZE_IN_DESKTOP=20

MARKER_SIZE_IN_TABLET=20

MARKER_SIZE_IN_MOBILE=20

RELOAD_GEO_CONFIG_PATH=cmdServerIPC.exe

LOCAL_FILE_PATH=C:\\default_folder\

SEARCH_HISTORY_VALIDATE_DURATION=1 month

CLEAR_SEARCH_HISTORY_INTERVAL=1

LBEACON_HEALTH_STATUS_TIME_INTERVAL_UNIT=hours

LBEACON_HEALTH_STATUS_TIME_INTERVAL=1

TIMESTAMP_FORMAT=lll







