.BOTsidenav {
    height: 100%; 
    position: fixed; 
    z-index: 1; 
    /* top: 10%; 
    left: 5%; */
    overflow-x: hidden; 
    padding: 50px 30px 0px 30px;
    background: white;
    box-shadow: 0px 0px 3px 0px rgba(32,33,36,0.28);
    width: 250px;
}

/* Style page content */
.BOTsidemain {
    padding: 20px 30px;
    height: 100%;
    min-height: 100%;
    margin-left: 250px;
}

/* The navigation menu links */
.BOTsidenav a {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    font-weight: 450;
}

/* The navigation menu links */
.BOTsidenav a.active {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

a.anchor {
    display: block;
    position: relative;
    color: red;
    top: -100px;
    /* margin-top: -100px   */
    visibility: hidden;
}

.BOTnav {
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
}

.BOTnav a {
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
}