@media (max-width: 575.98px) {
    #SectionIndex{
        font-size: 10px;
        width: 10%;
        /* height: 100vh; */
        /* margin-right: 5%;
        margin-top: 5%; */
    }
    #SectionList{
        width: 80vw;
        /* margin-left: 10%; */
    }
    #searchableObjectType {
        position: fixed;
        z-index: 1600;
        top: 18vh;
        right: -1%;
    }
    .searchResultListGroup {
        margin-right: 4px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    #SectionIndex{
        font-size: 11px;
        width: 10%;
        margin-right: 10%;
        margin-top: 5%;
    }
    #SectionList{
        width: 60%;
        margin-left: 10%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #SectionIndex{
        font-size: 12px;
        width: 10%;
        margin-right: 0%;
        margin-top: 20%;
    }
    #SectionList{
        width: 65%;
        margin-left: 10%;
    }
  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #SectionIndex{
        font-size: 13px;
        width: 10%;
        margin-right: 5%;
        margin-top: 5%;
    }
    #SectionList{
        width: 75%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #SectionIndex{
        font-size: 14px;
        width: 10%;
        margin-right: 5%;
        margin-top: 5%;
    }
    #SectionList{
        /*height: 60vh;*/
        position: absolute;
        right: 40%;
        width: 30vw;
    }
    #searchableObjectType {
        position: absolute;
        z-index: 1600;
        top: 10vh;
        right: -1.5%;
    }
}