/* ToggleSwitch customized CSS */
 
.switch-field {
    padding: 0px 10px 0px 5px;
    overflow: hidden;
}

.switch-title {
    font-weight: bold;
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    display: inline-block;
    width: 50px;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color:  #007bff;
    color: #fff;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
} 